cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.1.0
cssselect==1.2.0
cssutils==2.7.1
dkimpy==1.1.4
dnspython==2.3.0
elastic-transport==8.4.0
elasticsearch==8.8.0
humanize==4.6.0
idna==3.4
lxml==4.9.2
natsort==8.3.1
premailer==3.10.0
python-decouple==3.8
pytimeparse==1.1.8
PyYAML==6.0
requests==2.31.0
urllib3==1.26.16
yagmail==0.15.293